.Archive{
    padding-top: 60px;
}

.sidebar{
    display: block;
}

.sidebar_name{
    margin: 0;
    padding-left: 10px;
    padding: 32px 60px 0 26px;
    height: 100px;
    font-weight: 400;
}


.sidebar_region{
    margin-top: 15px;
    margin-bottom: 100px;
    padding-right: 60px;
    padding-left: 10px;
}

.menu > li{
    text-decoration: none;
    width: 10%;
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 0.5px solid gray;
}

.site-content{
    display: block;
    float: right;
    width: 74.5%;
}

.page-header{
    padding-top: 38px;
    height: 120px;
    position: relative;
}

.breadcrumb{
    width: 60%;
    justify-content: space-between;
}

.famehalls{
    text-decoration: none;
    font-size: 20px;
}

.famehalls{
    text-decoration: none;
    color: inherit;
}

.famehalls:hover {
    text-decoration: none;
    color: inherit;
}

.leaf{
    text-decoration: none;
    color:inherit;
    font-family: "nanumsquareround_b";
}
.leaf:hover{
    text-decoration: none;
    color:inherit;
}

.sidebarname{
    margin-left: 2%;
    margin-top: 1%;
    font-family: "nanumsquareround_b";
    text-decoration: none;
    color:inherit;
}

.sidebarname:hover{
    text-decoration: none;
    color:inherit;
}

.page-title{
    font-family: "nanumsquareround_b";
}

.contents > li{
    width: 60%;
    padding: 15px 0px 15px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
    font-size:20px;
    font-family: "nanumsquareround_r";
}

.new_write_btn{
    font-size: 20px;
    border-width: medium;
    font-family: "nanumsquareround_r";
    float: right;
    margin-right: 40%;
    text-decoration: none;
    color:inherit;
}
.new_write_btn:hover{
    text-decoration: none;
    color:inherit;
}

.date_info{
     justify-content: space-between;
}
