.Nav {
  width: 100vw;
  height: 55px;
  position: fixed;
  background-color:black;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: space-between;
  z-index:2;
}
.Icon {
  margin-left: 200px;
}
.Nav_title {
  margin-left: 10px;
  font-size: 22px;
  color: white;
  font-family: "nanumsquareround_b";
  vertical-align: middle;
}
.Nav_title:hover{
  text-decoration: none;
  color: white;
}

.Navi {
  height: inherit;
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
}

.navilist{
  padding: 1vw;
}

.Navs {
  color: white;
  text-decoration: none;
  align-content: center;
  font-family: "nanumsquareround_r";
}

.Navs:hover{
  color: white;
  text-decoration: none;
}

.Navi>li:hover .hidden{
  display: block;
}

.hidden:hover{
  display: block;
}


li{
  list-style: none;
}
ul{
  list-style: none;
}
.hidden{
  position: absolute; 
  top: 50px; 
  width: fit-content; 
  border: 1px solid #000; 
  display: none; 
  box-sizing: border-box;
  z-index: 2;
}