.loj{
}

.loj2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-content:center;
    font-family: 'nanumsquareround_b';
    align-items: center;
}

.login{
    font-family: 'nanumsquareround_b';
    text-align:center;
}

.form_wrapper{
    /* align-items: center;
    flex: 1;
    /* justify-content: center; */
    align-content:center;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.login_form{
    width:100%;
    /* align-items:stretch; */
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.id{
    font-family: 'nanumsquareround_b'; 
}

.pwd{
    font-family: 'nanumsquareround_b'; 
}

.idpwd_input{
    margin-left:10px
}