.loj{
}

.loj2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-content:center;
    font-family: 'nanumsquareround_b';
}

.login{
    font-family: 'nanumsquareround_b';
    text-align:center;
}

.idpwd{
    font-family: 'nanumsquareround_b'; 
}

/* .idpwd_input{
    position: absolute;
    left: 50%;
} */